{% extends "layout.html" %}
{% block content %}

	<div class='aboutMe'>
		<h1>Past Work and Download Links</h1>
		<hr align="left" width="50%">
		<p><a href='#' style='color: blue;'>My C.V</a></p>
		<p>Attatched is my current C.V. This containts a brief summary of my education, the relevant work experience I have, my skills, my projects, languages I speak and some of my acheivments
		<p><a href='#' style='color: blue'>Paper on 'A Flow Sheet for the Conversion of Lunar Regolith using Fluorine'</a></p>
		<p>During my final semester at the University of Cape Town my partner (Evren Turan) and I wrote a paper exploring a possible process for converting lunar regolith into oxygen, metals and silicon. The motivation behind this would be to allow for an in-situ lunar base that could be self sustainable and act as a rocket-base for refueling and life.
		<h2>Coming Soon</h2>
		<p><a href='#' style='color: blue'>Educational Data Mining Research Paper</a></p>
		<p>Currently, I am part of a team at Fordham University, New York in the Computer Science department researching and data mining the educational data of fordham. Once a paper is written and the research done, it will be linked to the above link. 
	</div>

	
{% endblock content %}