{% extends "layout.html" %}
{% block content %}
<div class='contactForm'>
<h2>Contact Me!</h2>

  {% if success %}
    <p>Thank you for your message. I'll get back to you shortly.</p>
  {% else %} 
    <form action="{{ url_for('contactMe') }}" method=post>
      {{ form.hidden_tag() }}
      {{ form.name.label }}
      {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {{ form.name }}
 
      {{ form.email.label }}
      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {{ form.email }}
 
      {{ form.subject.label }}
      {% for message in form.subject.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {{ form.subject }}

      {{ form.message.label }}
      {% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {{ form.message }}
 
      {{ form.submit }}
    </form>
 

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contactForm.css') }}">
</div>
  {% endif %}

{% endblock %}