{% extends "layout.html" %}
{% block content %}
{% if success %}
    <p>Thank you for your message. I'll get back to you shortly.</p>
 {% endif %}	
	<div class='titleCover'>
		<div class='titleText'>
			<h1>Samuel Stein</h1>
			<hr>
			<h3>Qualified Chemical Engineer, Data Scientist and Software Engineer</h3>
		</div>
		<div class='contactMe'>
			<h1 class='describeMe'>Who am I?</h1>
			<hr>
			<p id='explainText'>I'm Sam, a qualified Chemical engineer (BSc Cum Laude Chemical Engineering - UCT,2019), and Data Analyst with a focus on Data Science (pending Dec. 2020 MSc Data Analytics with a focus on Data Science - Fordham University) . I'm an avid tech enthusiast, learning frameworks in and out and data science. Some of my passion projects include training applications for real time recognition, retro game reboots in Python, data mining educational data and many more interesting things!</p>
			<button id='contactMeBot'><a href='contactMe.html'>Contact Me</a></button>
		</div>
	</div>
	
		
		
	<div class='skillSetArea'>
		<div class='skills' id = 'firstArea'>
			<h1>A glance at my skills!</h1>
			<hr>
			<div class='appSetFlex'>
				<div class='skill'>
					<h4 class='skillShow'><i class=" fas fa-file-code"></i></h4>
					<h3>Full Stack Web-Development</h3>
					<p class='describer'>From MEAN Web Development to Flask deployment!</p>
					<p class='describer'>I hand-coded every part of this website!</p>
				</div>
				<div class='skill'>
					<h4 class='skillShow'><i class=" fab fa-python"></i></h4>
					<h3>Python</h3>
					<p class='describer'>Fundamental to my Masters of Science!</p>
					<p class='describer'>Experience with the industry standard plugins such as jQuery!</p>
				</div>
				<div class='skill'>
						<h4 class='skillShow'><i class=" fas fa-database"></i></h4>
						<h3>numPy/Pandas/sklearn/OpenCV-Python</h3>
						<p class='describer'>Experienced and competent with these python packages</p>
						<p class='describer'>I use these packages day in day out from training facial recognition to decision trees in data analytics classification!</p>
				</div>
			</div>
			<div class='appSetFlex'>
				<div class='skill'>
				<h4 class='skillShow'><i class=" fab fa-java"></i></h4>
					<h3>Java</h3>
					<p class='describer'>My first programming language!</p>
					<p class='describer'>Worked with Java for 2 years when on the side in University.</p>
					<p class='describer'>Created old school style games in Java as a passion project.</p>
				</div>
				<div class='skill'>
				<h4 class='skillShow'><i class=" fas fa-scroll"></i></i></h4>
				<h3> SciLab/Matlab</h3>
				<p class='describer'>My go-to engineering scripting language</p>
				<p class='describer'>SciLab for me is what I use when I want to use packages such as fsolve and multi-dimensional minimization, as this is what I worked with and researched my first research paper - "Flowsheet development for the conversion of lunar regolith to solar panels and oxygen on the moon"
			</div>
			</div>
		</div>
	
{% endblock content %}